$blue:    #1A5F7A !important;
$indigo:  #6610f2 !important;
$purple:  #6f42c1 !important;
$pink:    #d63384 !important;
$red:     #dc3545 !important;
$orange:  #fd7e14 !important;
$yellow:  #FFC900 !important;
$yellow-light:  #FFF89A !important;
$green:   #198754 !important;
$teal:    #20c997 !important;
$cyan:    #086E7D !important;

$primary:       $blue !important;
$secondary:     $gray-600 !important;
$success:       $green !important;
$info:          $cyan !important;
$warning:       $yellow !important;
$danger:        $red !important;
$light:         $yellow-light !important;
$dark:          $gray-900 !important;