{% extends "layouts/base.html" %}

{% block page %}
<div id="page" class="container-fluid">
  <div class="row">
    <div class="col col-12">
      <div class="display-2">La troixième partie</div>
    </div>
    <div class="col col-4">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/juice.jpeg" class="carousel-image-paysage mx-0" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/01a.jpg" class="carousel-image-portrait mx-0" alt="...">1
          </div>
          <div class="carousel-item">
            <img src="img/02a.jpg" class="carousel-image-portrait mx-0" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/03a.jpg" class="carousel-image-paysage mx-0" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col col-8">
      <div class="container border border-primary">
        <div class="row">
          <div class="col col-12 text-muted fw-bold display-6 fst-italic">
            <h2 class="text-primary fst-italic text-center display-2 text-decoration-underline">
              Les boissons
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col col-8 text-muted fw-bold display-6 fst-italic">
            Cocktails
          </div>
          <div class="col col-4 text-danger fw-bold display-6">
            6.99€
          </div>
        </div>
        <div class="row">
          <div class="col col-8 text-muted fw-bold display-6 fst-italic">
            Cocktails
          </div>
          <div class="col col-4 text-danger fw-bold display-6">
            6.99€
          </div>
        </div>
        <div class="row border-top border-primary">
          <div class="col col-8 text-muted fw-bold display-6 fst-italic">
            Soda
          </div>
          <div class="col col-4 text-danger fw-bold display-6">
            2.99€
          </div>
        </div>
        <div class="row border-top border-primary">
          <div class="col col-8 text-muted fw-bold display-6 fst-italic">
            Boissons chaudes
          </div>
          <div class="col col-4 text-danger fw-bold display-6">
            3.99€
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="/js/boissons.js"></script>
{% endblock %}